    <h1>Datos personales</h1>
    <div id="datosPersonales">
        <p>Nombre: {{usuario.nombre}}</p>
        <p>Apellido: {{usuario.apellido}}</p>
        <p>Email: {{usuario.email}}</p> 
        <p>Edad:{{usuario.edad}}</p> 
        <p>Teléfono: {{usuario.telefono}}</p>
    </div>